/* Si querés mantener Montserrat para otras cosas, está bien */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* Definí la fuente Walaweh desde tu archivo local */
@font-face {
  font-family: "Walaweh";
  src: url("/fonts/Walaweh.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #3062ac;
  font-family: "Walaweh", sans-serif;
}
